<article>
    <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
    {{ partial "post_meta" . }}
    <p>{{ .Summary }}</p>
    <div class="read-more">
      <a href="{{ .Permalink }}">Read more</a>
    </div>
</article>
<hr/>
