{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

{{ .Render "full" }}

<article>
  <div id="disqus_thread"></div>
  <script>
  (function() {
  var d = document, s = d.createElement('script');

  s.src = '//jacqueline-id-au.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>

{{ partial "footer.html" . }}
