<!--
  Renders one of the images from src-web/img with the given title. The title
  will be used both as alt text and a caption. Clicking the image links to its
  src.
-->
<figure>
  <img src="/img/{{ .Get "src" }}" alt="{{ .Get "title" }}" />
  <figcaption>
      {{ .Get "title" }}
  </figcaption>
</figure>
