<!--
  Renders one of the images from src-web/img-resize with the given title. The
  title will be used both as alt text and a caption.

  The src for the image is a resized thumbnail version. Clicking the image
  links to a full size version.
-->
<figure>
  <a href="/img/full/{{ .Get "src" }}" data-lightbox="{{ .Get "src" }}" data-title="{{ .Get "title" }}">
    <img src="/img/thumb/{{ .Get "src" }}" alt="{{ .Get "title" }}"/>
  </a>
  <figcaption>
      {{ .Get "title" }}
  </figcaption>
</figure>
