{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<article class="post">
  <h1>Page not found</h1>

  <p>Whatever you were looking for isn't here. Sorry!</p>

  <figure>
    <img src="/img/404.png" alt="a duck with a magnifying glass. they cannot find what they are looking for."/>
  </figure>
</article>

{{ partial "footer.html" . }}
