{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

{{ range (.Paginate (where .Data.Pages "Type" "page")).Pages }}
    {{ .Render "embed" }}
{{ end }}

<article class="post webring">
  <p>this web site is a part of a cool web ring or network or something. check out
  one of my friends' web sites!</p>

  <p>
    <ul>
      <li><a href="https://fenreliania.com/">Fenreliania</a> - they make cool video games!</li>
      <li><a href="https://lizemily.rocks">Liz Emily</a> - she is as sweet as sugar and has beautiful cats</li>
      <li><a href="https://ailurux.github.io">Ailurux</a> - he also makes cool video games!</li>
    </ul>
  </p>

  <p>email me or @ me on twitter if you would like to be added.</p>
</article>

{{ partial "footer.html" . }}
