// Global variables referenced throughout the rest of the styles. All branding
// (fonts, colors, etc.) should be defined here.

// Typography
$slabo: ("Slabo 27px", serif);
$open-sans: ("Open Sans", sans-serif);

$font-title: $slabo;
$font-heading: $slabo;
$font-body: $open-sans;
$font-monospace: monospace;

// Colors
$color-text-white: rgba(255, 255, 255, 0.87);
$color-text-black: rgba(0, 0, 0, 0.87);
$color-gray: #F5F5F5;
$color-gray-dark: #BDBDBD;
$color-accent-weak: #2196F3;
$color-accent-strong: #1976D2;
$color-contrasting: #A72BD4;

