// Mixins used throughout the other styles, plus supporting variables.

$desktop-width: 900px;
$tablet-width: 600px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

