header {
  text-align: center;

  padding-top: 2.5rem;

  background-blend-mode: hard-light;
  background-color: $color-contrasting;
  background-image: $header-image-encoded;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.12);

  #site-title {
    font-family: $font-title;
    font-size: 1.8rem;

    display: block;

    margin-bottom: 2.5rem;
  }

  ul {
    font-size: 0.85rem;
    font-weight: 600;

    display: inline-block;

    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.5rem;
  }

  li {
    display: inline-block;
    list-style-type: none;

    a {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
  }

  a {
    transition: color 0.15s ease-in-out;
    color: $color-text-black;
  }
  a:hover {
    color: $color-accent-strong;
  }
}

