.paginator {
  font-size: 0.9rem;
  text-align: center;

  margin-top: 1.5rem;
  margin-bottom: 3rem;

  a {
    visibility: hidden;

    margin-left: 2rem;
    margin-right: 2rem;
  }

  .active {
    visibility: visible;
  }
}
