html {
  font-family: $font-body;
  font-weight: 400;
  color: $color-text-black;

  font-size: 100%;

  @include tablet {
    font-size: 110%;
  }

  @include desktop {
    font-size: 120%;
  }
}

body {
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.44rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.8rem; }

figcaption {
  font-size: 0.7rem;
}

pre {
  overflow-x: auto;
}

p,li {
  font-size: 0.9rem;
}

pre,code {
  font-family: $font-monospace;
}
