
article {

  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    padding-left: calc(50% - 15rem);
    padding-right: calc(50% - 15rem);
  }

  @include desktop {
    padding-left: calc(50% - 19rem);
    padding-right: calc(50% - 19rem);
  }

  margin-bottom: 3rem;

  p, h1, h2, h3, h4, h5, h6, pre, ol, ul, figure {

    @include tablet {
      padding-left: calc(50% - 14rem);
      padding-right: calc(50% - 14rem);
    }

    @include desktop {
      padding-left: calc(50% - 17rem);
      padding-right: calc(50% - 17rem);
    }
  }

  p,pre,ul,ol {
    margin-top: 1rem;
  }

  figure {
    margin-top: 2rem;
  }

  h1 {
    margin-top: 2rem;
  }

  h2 {
    margin-top: 2rem;
  }
}
