{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<article>
  <h1 class="title">Posts tagged with {{ partial "tag.html" .Title }}</h1>
</article>

{{ range .Paginator.Pages }}
    {{ .Render "short" }}
{{ end }}

{{ partial "paginator.html" .}}

{{ partial "footer.html" . }}
