{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<article>
  <h1 class="title">{{ title .Data.Plural }}</h1>
  <p>
  Gee this page looks really bare. Better put some filler text in. Actually
  I'm thinking of making a nice tag cloud here but I haven't gotten around
  to it yet.
  </p>
  <ul>
      {{ range $key, $value := .Data.Terms }}
          <li>
              {{ partial "tag.html" $key }}
              &#40;{{ len $value }}
              {{ if eq 1 (len $value) }}
                  item&#41;
              {{ else }}
                  items&#41;
              {{ end }}
          </li>
      {{ end }}
  </ul>
</article>

{{ partial "footer.html" . }}
