<!-- This is the most glorious hackery I have ever created and I love it. -->
<!-- To future me: sorry this broke :( -->
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $.Scratch.Add "title" .Title }}
<ol class="breadcrumbs">
    <li><a href="/">Home</a></li>
    {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ if ne (trim $element "1234567890") "" }}
            <li>
                <span class="icon-angle-double-right"></span>
                <a href='{{ $.Scratch.Get "path" }}'>
            {{ if eq "post" . }}
                Blog Posts
            {{ else if eq "true" ($.Scratch.Get "isBlogPost") }}
                {{ $.Scratch.Get "title" }}
            {{ else }}
                {{ title . }}
            {{ end }}
                </a>
            </li>
        {{ else if ne $element "" }}
            {{ $.Scratch.Set "isBlogPost" "true" }}
        {{ end }}
        {{ $.Scratch.Add "path" "/" }}
    {{ end }}
</ol>