<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ if eq .Site.Title .Title }}
      <title>{{ .Title }}</title>
    {{ else }}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}

    {{ partial "meta.html" .}}
    {{ partial "includes.html" .}}
</head>
