<!-- All tags here should be closed in footer.html -->
<body>

    <header>
          <a id="site-title" href="/">{{ .Site.Title }}</a>

          <ul>
              {{ range .Site.Menus.main }}
                  <li>
                      <a href="{{ .URL }}">
                        {{ .Name }}
                      </a>
                  </li>
              {{ end }}
          </ul>
    </header>

    <!-- Content! -->
