<div class="paginator">

    <a
      {{ if (.Paginator).HasPrev }}
        href="{{ (.Paginator).Prev.URL }}"
        class="active"
      {{ end }}
      >
      &laquo; Newer
    </a>

    Page {{ (.Paginator).PageNumber }} of {{ (.Paginator).TotalPages }}

    <a
      {{ if (.Paginator).HasNext }}
        href="{{ (.Paginator).Next.URL }}"
        class="active"
      {{ end }}
      >
      Older &raquo;
    </a>
</div>
